[submodule "simplenote-react-native"]
	path = simplenote-react-native
	url = https://github.com/gabrieldonadel/simplenote-react-native
[submodule "NetNewsWire"]
	path = NetNewsWire
	url = https://github.com/gabrieldonadel/NetNewsWire
[submodule "IceCubesApp"]
	path = IceCubesApp
	url = git@github.com:gabrieldonadel/IceCubesApp.git
[submodule "AntennaPod"]
	path = AntennaPod
	url = git@github.com:gabrieldonadel/AntennaPod.git
[submodule "BlankIOS"]
	path = BlankIOS
	url = git@github.com:gabrieldonadel/BlankIOS.git
[submodule "BlankAndroid"]
	path = BlankAndroid
	url = git@github.com:gabrieldonadel/BlankAndroid.git
[submodule "wikipedia-ios"]
	path = wikipedia-ios
	url = git@github.com:gabrieldonadel/wikipedia-ios.git
[submodule "ish"]
	path = ish
	url = https://github.com/briones-agent/ish.git
[submodule "yattee"]
	path = yattee
	url = https://github.com/briones-agent/yattee.git
[submodule "KeePassium"]
	path = KeePassium
	url = https://github.com/briones-agent/KeePassium.git
[submodule "OsmAnd-iOS"]
	path = OsmAnd-iOS
	url = https://github.com/briones-agent/OsmAnd-iOS.git
[submodule "wallabag-ios"]
	path = wallabag-ios
	url = https://github.com/briones-agent/ios-app.git
[submodule "firefox-ios"]
	path = firefox-ios
	url = https://github.com/briones-agent/firefox-ios
[submodule "Signal-iOS"]
	path = Signal-iOS
	url = https://github.com/briones-agent/Signal-iOS
[submodule "Nextcloud-iOS"]
	path = Nextcloud-iOS
	url = https://github.com/briones-agent/Nextcloud-iOS
[submodule "NewPipe"]
	path = NewPipe
	url = https://github.com/briones-agent/NewPipe.git
	branch = dev
[submodule "pocket-casts-ios"]
	path = pocket-casts-ios
	url = https://github.com/briones-agent/pocket-casts-ios
[submodule "element-x-ios"]
	path = element-x-ios
	url = https://github.com/briones-agent/element-x-ios.git
[submodule "Signal-Android"]
	path = Signal-Android
	url = https://github.com/briones-agent/Signal-Android.git
[submodule "organicmaps"]
	path = organicmaps
	url = https://github.com/briones-agent/organicmaps.git
[submodule "thunderbird-android"]
	path = thunderbird-android
	url = https://github.com/briones-agent/thunderbird-android.git
[submodule "OnionBrowser"]
	path = OnionBrowser
	url = https://github.com/briones-agent/OnionBrowser.git
[submodule "mastodon-ios"]
	path = mastodon-ios
	url = https://github.com/briones-agent/mastodon-ios.git
[submodule "damus"]
	path = damus
	url = https://github.com/briones-agent/damus.git
[submodule "mammoth"]
	path = mammoth
	url = https://github.com/briones-agent/mammoth.git
