[submodule "simplenote-react-native"]
	path = simplenote-react-native
	url = https://github.com/gabrieldonadel/simplenote-react-native
[submodule "NetNewsWire"]
	path = NetNewsWire
	url = https://github.com/gabrieldonadel/NetNewsWire
[submodule "IceCubesApp"]
	path = IceCubesApp
	url = git@github.com:gabrieldonadel/IceCubesApp.git
[submodule "AntennaPod"]
	path = AntennaPod
	url = git@github.com:gabrieldonadel/AntennaPod.git
[submodule "BlankIOS"]
	path = BlankIOS
	url = git@github.com:gabrieldonadel/BlankIOS.git
[submodule "BlankAndroid"]
	path = BlankAndroid
	url = git@github.com:gabrieldonadel/BlankAndroid.git
